@tailwind base;
@tailwind components;

.headline {
  background-image: repeating-linear-gradient(
    -45deg,
    white,
    white 1rem,
    red 1rem,
    red 2rem
  );
  background-size: 200% 200%;
  animation: barberpole 40s linear infinite;

  background-clip: text;
  -webkit-text-fill-color: green;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

@tailwind utilities;
