@tailwind base;
@tailwind components;

.headline {
  background-image: repeating-linear-gradient(
    -45deg,
    white,
    white 1rem,
    red 1rem,
    red 2rem
  );
  background-size: 200% 200%;
  animation: barberpole 40s linear infinite;
  filter: drop-shadow(-2px 4px 0px crimson);

  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 20px white, 0 0px 0px rgba(255, 255, 255, 0.3);
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

@tailwind utilities;
